{% extends "encyclopedia/layout.html" %}

{% block title %} 
    Wiki | {{ entryTitle }}
{% endblock %}


{% block body %}

    
    <form action="{% url 'wiki:save_edit' %}" method="post" novalidate>
        {% csrf_token %}
        
        <input type="hidden" name="entryTitle" value="{{ entryTitle }}"> <br>
        <div><b>Title</b>: {{ entryTitle }}</div> <br>
        <p><h4>Content</h4></p> <br>
        <textarea name="entryContent" id="" >{{entryContent}}</textarea> <br>
        

        <input type="submit" value="Save" class="btn btn-primary">
    </form>

{% endblock %}
