{% extends "encyclopedia/layout.html" %}

{% block title %} 
    Wiki | {{ entryTitle }}
{% endblock %}


{% block body %}

    
    <form class="edit" action="{% url 'wiki:save_edit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="entryTitle" value="{{ entryTitle }}"> <br>
        <b><h5>Title: <span style="color: #007bff; margin-left: 10px;">{{ entryTitle }}</span></h5></b> <br>
        <p><h5>Content:</h5></p> <br>
        <textarea name="entryContent" id="" rows=50, cols=40, style="height:25em"; >{{entryContent}}</textarea> <br>
        
        <div>
            <span><input type="submit" value="Save" class="btn btn-outline-primary"></span>
            <span>
                <form class="cancel" action="{% url 'wiki:cancel_edit' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="entryTitle" value="{{ entryTitle }}">
                    <input type="submit" value="Cancel" class="btn btn-outline-primary">   
                </form>
            </span>
        </div>
    </form>

    

{% endblock %}
