{% extends "encyclopedia/layout.html" %}

{% block title %} 
    Wiki | {{ entryTitle }}
{% endblock %}


{% block mode %}
    <div >
        <b>Opened Content:</b>
        <ul class="title">
            <li><b>{{ entryTitle }}</b></li>
        </ul>
    </div>
{% endblock %}

{% block body %}

    <span><b></b></span>
    
    {{ entryResource|safe }} 
    
    <form action="{% url 'wiki:edit_page' %}" method="POST">
  
        {% csrf_token %}
        <input type="hidden" name="entryTitle" value="{{entryTitle}}">
        <input class="btn btn-primary" type="submit" value="Edit">

    </form>
{% endblock %}